@import "../../global.scss";
@import "../../index.scss";

.merchants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  margin: 5rem 0rem;
  .col {
    display: grid;
    align-items: center;
    justify-content: center;
    &__details {
      padding: 0 4rem;
      h3 {
        @include h3;
        font-size: 22px;
        color: #011f3a;
        font-weight: 400;
        line-height: 31.92px;
        margin-bottom: 10px;
      }
      &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          justify-content: center;
          div {
            margin-left: 25px;
            flex-direction: column;
          }
        }
      }
      button {
        @include button;
        background: #f2f2f2;
        color: #3d5675;
      }
    }
  }
  .col:nth-child(1),
  .col:nth-child(2) {
    height: 296px;
    display: grid;
    align-items: center;
  }
  .col:nth-child(3),
  .col:nth-child(6),
  .col:nth-child(7) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__bottom {
    padding-bottom: 5rem;
    h2 {
      @include h2;
      text-align: center;
      color: #011f3a;
      margin-bottom: 55px;
    }
    div {
      @include flexCenter;
      gap: 1rem;
      button {
        @include button;
      }
      button:first-child {
        color: #ffffff;
      }
      button:last-child {
        background: #ffffff;
        color: #3d5675;
      }
    }
  }
}

// MEDIA Breakpoints
@media screen and (max-width: $xs) {
  .container {
    width: $xs;
  }
  .col {
    grid-column: 1/3;
    &__details {
      padding: 1rem !important;
    }
  }
  .col:nth-child(1) {
    grid-column: 1/1;
    height: 150px;
    display: grid;
    align-self: center;
    padding: 0 20px;
  }
  .col:nth-child(2) {
    grid-column: 2/2;
    height: 150px;
    display: grid;
    align-self: center;
    padding: 0 20px;
  }
  .col:nth-child(4) {
    order: 2;
  }
  .col:nth-child(6) {
    order: 1;
  }
  .merchants__bottom {
    div {
      padding: 0 1rem;
      flex-wrap: wrap;
      button {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: $md) {
  .container {
    width: $md;
  }
  .col {
    &__details {
      padding: 0 1rem !important;
    }
    button {
      padding: 5px 10px !important;
    }
  }
}
@media screen and (min-width: $lg) {
  .container {
    width: $lg;
  }
  .col {
    &__details {
      padding: 0 1rem !important;
    }
    button {
      @include button;
      padding: 10px 15px !important;
    }
  }
}
@media screen and (min-width: $xl) {
  .container {
    width: $xl;
  }
}
