@import "../../global.scss";
@import "../../index.scss";

.title {
  @include flexCenter;
  justify-content: space-between;
  padding: 3rem 0;
  h2 {
    @include h2;
    color: #011f3a;
  }
  button {
    @include button;
  }
}

.prod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  &__item {
    border: 1px solid #ededed;
    padding: 0.5rem;
    &__desc {
      display: grid;
      grid-template-columns: 2fr 1fr;
      color: #a1a1a1;
      div:last-child {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-end;
      }
      h3 {
        @include h3;
        letter-spacing: 0.36px;
        color: #011f3a;
      }
      p {
        @include p;
      }
    }
  }
}

.under_title {
  @include flexCenter;
  gap: 2rem;
  padding: 3rem 0;
  p {
    @include p;
    font-weight: 400;
    color: #a1a1a1;
  }
  button {
    @include button;
    background: #ffffff;
    color: #3d5675;
  }
}

// MEDIA Breakpoints
@media screen and (max-width: $xs) {
  .container {
    width: $xs;
    padding: 0 1rem;
  }
  .title {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
  }
  .prod {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: $md) {
  .container {
    width: $md;
    padding: 0 1rem;
  }
  .prod {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: $lg) {
  .container {
    width: $lg;
  }
  .prod {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: $xl) {
  .container {
    width: $xl;
  }
}
