@import "./global.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul[role="list"],
ol[role="list"],
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button,
input {
  outline: none;
  border: none;
}

body {
  background-color: #eeeeee;
  font-family: $ff-primary;
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

// HEADER
header {
  height: 61px;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  nav {
    ul {
      display: flex;
      li {
        margin-right: 50px;
        a {
          @include p;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }

      li:hover {
        border-bottom: 1px solid #000;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  .menu {
    display: none;
  }
  @media screen and (max-width: 768px) {
    header {
      margin: 0;
      padding: 0;
      margin-left: -20px;
    }
    nav {
      display: none;
    }
    .menu {
      display: block;

      button {
        font-size: 1.5rem;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
}
.menu_block {
  position: absolute;
  height: 40vh;
  width: 100%;
  background-color: #fff;
  display: grid;
  padding: 1rem;
  img {
    margin-bottom: 20px;
  }
  nav {
    ul {
      li {
        margin-bottom: 20px;
      }
      li:hover {
        text-decoration: underline;
      }
    }
  }
  .social {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
}

/* MAIN SECTION */
.main {
  @include flexCenter;
  padding-top: 61px;
  height: 689px;
  width: 100%;
  background-color: #f2ae4d;
  background-image: url("./assets/images/main_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  h1 {
    @include h1;
    width: 450px;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 768px) {
    h1 {
      width: 100%;
    }
  }
  p {
    @include p;
    margin-bottom: 30px;
  }
  button {
    @include button;
  }
}

// BRANDS
.brands {
  @include flexCenter;
  height: 120px;
  background: rgb(251, 251, 251);
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      @include p;
      color: #a1a1a1;
    }
  }
}
@media screen and (max-width: 768px) {
  .brands {
    p {
      display: none;
    }
  }
}

// PRODUCTS
.products {
  &__title {
    @include flexCenter;

    justify-content: space-between;
    padding: 3rem 0;

    h2 {
      @include h2;
      color: #011f3a;
    }
    button {
      @include button;
    }
  }
  @media screen and (max-width: 768px) {
    &__title {
      flex-wrap: wrap;
    }
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
    .item {
      border: 1px solid #ededed;
      padding: 0.5rem 1rem;
      .desc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #a1a1a1;

        &__title {
          width: 200px;

          h3 {
            @include h3;
            letter-spacing: 0.36px;
            color: #011f3a;
          }
          p {
            @include p;
          }
        }
        &__price {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 768px;
    }
    section {
      grid-template-columns: 1fr;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__bottom {
    @include flexCenter;
    column-gap: 2rem;
    padding: 3rem 0;
    p {
      @include p;
      font-weight: 400;
      color: #a1a1a1;
    }
    button {
      @include button;
      background: #ffffff;
      color: #3d5675;
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 425px;
  }
  section {
    grid-template-columns: 1fr;
  }
}

// DESIGN
section {
  .green-box {
    background: #72bda3;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
    border-radius: 0px;
    h2 {
      @include h2;
      padding: 3rem 0;
      text-align: center;
      color: #011f3a;
    }
    .btn {
      @include flexCenter;
      button {
        @include button;
        margin: 4rem 1rem;
      }
    }

    .green-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      text-align: center;

      h3 {
        @include h3;
        color: #011f3a;
        margin-bottom: 10px;
      }
      p {
        @include p;
        color: #3d5675;
      }
    }
  }
  .trans-box {
    padding: 5rem 0rem;
    h2 {
      @include h2;
      margin-left: 80px;
      text-align: left;
    }
    .trans-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      text-align: left;
      img {
        padding: 4rem 0;
      }
      h3 {
        @include h3;
        letter-spacing: 0.36px;
        color: #011f3a;
        margin-bottom: 10px;
      }
      p {
        @include p;
        color: #a1a1a1;
        line-height: 24px;
      }
    }
  }
  .yellow-box {
    padding: 5rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background: #ffca3a;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
    border-radius: 0px;
    div {
      @include flexCenter;
      flex-direction: column;
      width: 333px;
      img {
        padding-bottom: 2rem;
      }
      h3 {
        @include h3;
        font-weight: 700;
        color: #011f3a;
        margin-bottom: 1rem;
      }
      p {
        @include p;
        text-align: center;
        color: #3d5675;
        margin-bottom: 1rem;
      }
      button {
        @include button;
        background: #ffffff;
        color: #3d5675;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .yellow-box {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
}

// Merchants
.merchants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  background-color: #fff;
  margin: 5rem 0rem;
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 6rem;
      h3 {
        @include h3;
        font-size: 24px;
        color: #011f3a;
        font-weight: 400;
        line-height: 31.92px;
        margin-bottom: 20px;
      }
      div {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
        button {
          @include button;
          background: #f2f2f2;
          color: #3d5675;
        }
        div {
          display: flex;
          align-self: center;
          div {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
          }
        }
      }
    }
  }

  &__bottom {
    padding: 5rem 0;
    h2 {
      @include h2;
      text-align: center;
      color: #011f3a;
      margin-bottom: 55px;
    }
    div {
      @include flexCenter;
      gap: 1rem;
      button {
        @include button;
      }
      button:first-child {
        color: #ffffff;
      }
      button:last-child {
        background: #ffffff;
        color: #3d5675;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .merchants {
    grid-template-columns: 1fr;
    h3 {
      margin-bottom: 20px;
    }

    .merchants_img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
    .merchants_info {
      padding: 1rem 0.5rem;
      div {
        padding: 0;
      }
    }
    &__bottom {
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
  div:nth-child(1) {
    div {
      // padding: 1rem;
    }
  }

  div:nth-child(6) {
    order: 4;
  }
  div:nth-child(5) {
    order: 6;
  }
}

// FOOTER
footer {
  background: #f2f3f4;
  padding: 5rem 0;
  .col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: #3d5675;
    nav {
      ul {
        li {
          margin-bottom: 17px;
        }
      }
    }
    ul {
      li {
        margin-bottom: 17px;
        .social {
          display: flex;
          span {
            font-size: 1.2rem;
            padding-right: 10px;
          }
        }
        input {
          background: #ffffff;
          border-radius: 34px;
          height: 36px;
          width: 280px;
          padding-left: 20px;
        }
        input::placeholder {
          color: #3d567566;
          padding-left: 20px;
        }
        button {
          @include button;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .col {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  button,
  input {
    width: 100% !important;
  }
}
