*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul[role="list"],
ol[role="list"],
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  padding: 0 1.5rem;
}

/* MAIN SECTION */
.main {
  height: 689px;
  width: 100%;
  background-color: #f2ae4d;
  background-image: url("./assets/images/main_bg.png");
  background-position: right;
  background-repeat: no-repeat;
}
.brands {
  height: 120px;
  background: rgb(251, 251, 251);
  display: flex;
  align-items: center;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
    }
    p {
      color: #a1a1a1;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.6px;
    }
  }
}

// PRODUCTS
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    width: 400px;
    height: 100%;
  }
}

// DESIGN

// Merchants
.merchants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 294px;
  }
}

// FOOTER
footer {
  background: #f2f3f4;
}
